.navbar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  gap: 20px;
  background-color: black;
  color: white;
}
.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: caveat;
  font-size: 2.2rem;
  color: #f9a826;
}
.nav-items {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* align items to the center */
  text-align: center;
  width: 100%;
}
.nav-item {
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-weight: 300;
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15%;
}
.nav-item.active {
  background-color: #f9a826;
  color: black;
}
