.navbar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  gap: 20px;
  background-color: black;
  color: white;
}
.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: caveat;
  font-size: 2.2rem;
  color: #f9a826;
}
.nav-items {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center; /* align items to the center */
  text-align: center;
  height: 65%;
  width: 100%;
}
.nav-item {
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  font-weight: 300;
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15%;
  text-align: left;
  border-radius: 1.2rem;
}
.nav-item.active {
  background-color: #f9a826;
  color: black;
}
Link {
  border-style: none;
}
.navbar-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logout-btn {
  width: 60%;
  height: 100%;
  border-radius: 0.6rem;
  font-size: medium;
  font-weight: 500;
  box-shadow: 3px 3px 0px 0px #000;
  background-color: lightcyan;
  color: black;
  font-family: poppins;
}
